*{
    margin: 0;
    padding: 0;
}
.foot{
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 1%;

}
.foot li{
    flex: 1;
    list-style: none;
    text-align: center;
}
.active{
    color: red;
}